body {
    background:black;
  }
  
  
  .skyblue {
    background: black;
  }
  
  .box{
    padding: 10px;
    background:rgb(78, 76, 172);
    align-content: center;
    text-align: center;
    color: rgb(243, 14, 232);
  }
  
  
  .navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding: 25px;
    background: rgba(110, 14, 110, 0.479), 60, 85);
  }
  
  .navbar li {
    display: d-block;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
    align-content: center;
    text-align: center;
    color: whitesmoke;
    
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  
  
  p{
      font-size: 20px;
  }
  
  
  .c-d{color:rgb(252, 221, 221);
    font-size: 25px;
  }
  
  .latitude {
    color: rgb(247, 222, 222);
    font-family: verdana;
    font-size: 40px;
    background-color:rgb(163, 112, 163);
    border: 1px solid rgb(87, 2, 88);
      padding: 15px;
  }